---
---
@import "{{ site.theme }}";


body {
    background-color: #eae1ec;
}

body {
  a:link{
 color: rgb(9, 7, 65);
  }
  a:visited {
  color: rgb(73, 0, 46);
  }
  a:hover {
  color: rgb(33, 30, 115);
  }
  a:active {
 color: rgb(9, 7, 65);
  }
}


header.site-header {
    background-color: #54306e;
    border-bottom: 2px solid #927ba3;
    color: white;
}

header.site-header {
  @media all and (max-width: 600px) {  
    width: fit-content;
    height: fit-content;
}
}
.site-nav {
  @media all and (max-width: 600px) {
    display: none;
  }
}

div.sidebar {
  @media all and (max-width: 600px) {
    border: #927ba3 2px;
    background-color:#F8F2FC;
    border-radius: 8px;
    column-count: 2;
    column-rule-style: none;

  ul {
    list-style-type: none;
    width: 100%;
    height: auto;
    position: static;
  }
  li {
    float: center;
  }
  li a {
    text-align: center;
    float: none;
  }
}
}

div.sidebar {
  @media all and (min-width: 601px) {
    display: none;
  }
}

.site-title, .site-title:visited { 
  color: white;
}

.site-nav {
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
  }
  a:active {
    color: white;
    }
}

nav { 
  @media all and (min-width: 600px){
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
  }
  a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}
}



li.home {
margin-bottom: 10px;
}

// hi and up both h3, up lifts header above rest of container

.hi {
border-bottom: 2px dashed #927ba3;
}

.up {
  width: 100%;
  padding-bottom: 15px;
  padding-top: 0px;
}

div.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

div.base {
  border-color: #927ba3;
  border-width: 5px;
  border-radius: 12px;
  background-color: #F8F2FC;
  padding-top: 25px;
  padding-bottom: 0px;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

#books {
  margin-bottom: 0px;
}

h4.book {
  margin-bottom: 0px;
}
.container {
  float: left;
  margin-bottom: 25px;
  width: 100%;
}

.content-left {
  @media all and (min-width: 960px) {
      width: 66%;
      float: left;
    }
}

.img-right {
  @media all and (min-width: 960px) {
      width: 33%;
      float: right;
      border-bottom: #927ba3 2px;
    }
}

figcaption {
  @media all and (min-width: 960px) {
      padding: 4px;
  }
}

img {
 max-width: 100%;
 height:auto;
}

figure.img-inner {
 display: inline-block;
 margin-left: 5px;
 margin-right: 5px;
 margin-bottom: 10px;
 margin-top: 5px;
}

// for pages with media

.video-right {
    @media all and (min-width: 960px) {
        width: 33%;
        float: right;
}
}

.footer-col-wrapper {
  color: black;
}